@import 'mixins';

body { background: #587eb0 url('oseh_shalom_bg.jpg') no-repeat top; }

.navbar { margin-top: 86px; } // move navbar below image

#content { margin-top: 76px; } // move contents below navbar

// ...TABS.........................
.tabs-left .nav-tabs {
  margin-right: 4px; // pull contents closer to tabs
  width: 200px;
  li a {
    color: $color-text;
  }
  .active a, .active a:hover {
    @include translucent-background;
    font-weight: bold;
  }
  li a:hover {
    background: white;
  }
}

.tab-content {
  @include translucent-background;
  padding: 20px;
}

.sign_in {
  @include translucent-background;
  padding: 20px;
}

.truncated {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
