$color-text: black;

body { background: #587eb0 url('oseh_shalom_bg.jpg') no-repeat top; }

.navbar { margin-top: 86px; } // move navbar below image

#content { margin-top: 50px; } // move contents below navbar

// ...TABS.........................
.tabs-left .nav-tabs {
  margin-right: 4px; // pull contents closer to tabs
  min-width: 190px;
  li a {
    color: $color-text;
  }
  .active a, .active a:hover {
    background: url("overlay-sm.png") top left repeat; // translucent background
    font-weight: bold;
  }
  li a:hover {
    background: white;
  }
}

.tab-content {
  background: url("overlay-sm.png") top left repeat; // translucent background

  padding: 20px;
}
