@import "bootstrap/variables";
@import "bootstrap/mixins";
@import 'mixins';

body { background: #587eb0 url('oseh_shalom_bg.jpg') no-repeat top; }
#home_link {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 80px;
  cursor: pointer;
}

.navbar { margin-top: 26px; } // move navbar below image

// ...TABS.........................
.tabs-left .nav-tabs {
  margin-right: 4px; // pull contents closer to tabs
  width: 200px;
  li a {
    color: $color-text;
  }
  .active a, .active a:hover {
    @include translucent-background;
    font-weight: bold;
  }
  li a:hover {
    background: white;
  }
}

.tab-content {
  @include border-radius(0 3px 3px 0);
  @include translucent-background;
  padding: 20px;
}

.sign_in {
  @include translucent-background;
  margin-top: 36px;
  padding: 20px;
}

.truncated {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
