// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "mixins";
@import "bootstrap/variables";
@import "bootstrap/mixins";

h3 { padding-bottom: 10px; }

.event {
  @include tab-contents-container;
  .start_date { color: lighten($color-text, 25%);}
}

.event {
  p { font-size: 1.4em; }
  .summary {
    margin: 4px 25px 4px 0;

    li {
      margin: 1px 0px;
    }
  }
  .description { vertical-align: top ;}
}

ul.related_events {
 list-style: none;

 li { margin: 4px; }
}

#rsvp { width: 300px; }
