- flash.each do |level, msg|
  .flash.alert{:id => "flash_#{level}", :class => "#{level} alert-#{flash_class(level)}"}
    =msg
    =link_to raw("&times;"), '#', :class => "close", :data => {:dismiss => "alert"}, :title => "Close this message."
