!!! 5
%html{:lang => "en"}
  =render 'layouts/head'

  %body
    %a#home_link{:href => '/', :title => 'Home'}
    = render 'layouts/nav_bar'
    #content.container-fluid
      .row-fluid
        -#.span3
          = render 'layouts/sidebar'

        .span12
          <!-- main content -->
          =render 'layouts/flash_notification'
          = yield

      %footer
        %p &copy; 2012 Oseh Shalom
    /
      Le javascript
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"
