%h1
  Members
  -if @filter
    Filtered by #{@filter.inspect}

%table#members
  %thead
    %th Full Name
    %th Main Phone
    %th Main Email
  %tbody
    - @members.each do |member|
      %tr
        %td= member.full_name
        %td= member.main_phone
        %td= member.main_email

